/* left-bar-menu */
.left-bar {
    position: fixed;
    width: 20%;
    margin-top: 30px;
    padding-top: 65px;
    padding-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
    color: #354649;
    padding-left: 25px;
    margin-bottom: 15px;
    
}

.menu:hover, .menu:active {
    color: white;
    background-color: #354649;
    border-radius: 20px;
    width: 150px;
    cursor:pointer;
}

.menu .icons-menu {
    font-size: 28px;
    transition: font-size 0.2s;
    
}

.menu .p-menu {
    font-size: 16px;
    margin-left: 15px;
    transition: font-size 0.2s;
}


@media screen and (max-width: 1110px) {

    
    
    .main {
        display: grid;
        grid-template-columns:  2% auto auto ;
        
    }
    
    .menu {
        display: flex;
        justify-content: center;
        color: #354649;
        margin-bottom: 15px;
        padding: 14px ;
        width: 75px;

    }

    .menu:hover, .menu:active {
        color: white;
        background-color: #354649;
        border-radius: 20px;
        width: 75px;
    }

    .menu .icons-menu {
        font-size: 28px;
        transition: font-size 0.2s;
    }
    
    .menu .p-menu {
        font-size: 0px;
        margin-left: 0px;
        transition: font-size 0.2s;
    }
}

@media screen and (max-width: 980px) {
    .left-bar {
        padding-top: 0;
        padding-left: 10;
    }

    .main {
        display: grid;
        grid-template-columns: 0 auto auto ;
        
    }

    .menu {
        display: flex;
        justify-content: center;
        color: #354649;
        margin-bottom: 0;
        padding: 0 ;
        width: 0px;
        
    }

    .menu:hover, .menu:active {
        color: white;
        background-color: white;
        border-radius: none;
        cursor:default;
        width: 0px;
    }

    .menu .icons-menu {
        font-size: 0px;
        transition: font-size 0.2s;
    }
    
    .menu .p-menu {
        font-size: 0px;
        margin-left: 0px;
        transition: font-size 0.2s;
    }
}

@media screen and (max-width: 930px) {
    .main {
        display: grid;
        grid-template-columns: 0 auto 0 ;
        
    }
}